<div class="hero-unit">
  <blockquote>
    <small>记录工作过程中的笔记<cite title="Source Title"></cite></small>
  </blockquote>
</div>
<table class="table table-striped table-hover">
  <% @notes.each do |note| %>
    <tr>
    <td>
      <i class="icon-leaf"></i>
      <%= link_to "#{note.created_at} #{note.title}",note_path(note) %>
    </td>
  </tr>
<% end %>
</table>
