<div class="hero-unit">
  <blockquote>
    <p>盖亚人读书</p>
    <p>第一要有志，第二要有识，第三要有恒</p>
    <p>有志则断不甘为下流</p>
    <p>有识则知学问无尽,不敢以一得知足</p>
    <p>有恒则断无不成之事</p>
    <small>曾国藩<cite title="Source Title"></cite></small>
  </blockquote>
</div>
<table class="table table-striped table-hover">
  <% @blogs.each do |blog| %>
    <tr>
    <td>
      <i class="icon-leaf"></i>
      <%= link_to "#{blog.created_at} #{blog.title}",blog_path(blog) %>
    </td>
  </tr>
<% end %>
</table>
