<% @articles.each do |article| %>
  <h5><span class="fui-document" style="margin-right: 21px;"></span><%= link_to "#{article.created_at.strftime("%Y-%m-%e")} #{article.title}",article_path(article) %></h5>
<% end %>
