<p class="palette-paragraph" style="float: right;margin-top: 10px;">
  <strong><%= "共#{@all_articles_impressionist_counts_ip}个ip访问过#{@all_articles_impressionist_counts_num}次" %></strong>
  <strong>求知要踏踏实实,做人要老老实实</strong>
</p>
<div style="margin-top:50px;">
  <% @articles.each do |article| %>
    <h5>
      <span class="fui-document" style="margin-right: 21px;"></span><%= link_to "#{article.title}",article_path(article) %>
      <span class="palette-paragraph" style="float: right;margin-left: 10px;"><strong><%= article.created_at.strftime("%Y-%m-%e") %></strong></span>
    </h5>
  <% end %>
</div>
<div class="progress">
  <div class="progress-bar" style="width: 45%;"></div>
</div>
