<h3>黄敏的站点</h3>
<p>欢迎来到我的个人网站(huangmin.me)。我是黄敏,目前在使用Titanium移动开发和Rails Web开发的工程师。 目前正在学习和使用liunx,Git,Nginx,Vim一些开发工具进行开发。</p>
<p>喜欢与厉害的人交流学习,从他们身上看到我所不具备的优点。</p>
<p>2015年毕业,目前开发过几个APP项目,有一定的项目经验。目前跟着<a href='http://siwei.me'>思维</a>学习技术和做项目。</p>

<p>欢迎给我写信: huangmin0822@163.com<p>
