default: &default
  adapter: mysql2
  pool: 5
  timeout: 5000
  username: root
  passwd:

development:
  <<: *default
  database: huangmin

test:
  <<: *default
  database: huangmin_test

production:
  <<: *default
  database: huangmin
