default: &default
  adapter: mysql2
  pool: 5
  timeout: 5000
  username: root
  passwd:

development:
  <<: *default
  database: yue_house_mall

test:
  <<: *default
  database: yue_house_mall_test

production:
  <<: *default
  database: yue_house_mall_manage
