development:
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: huangmin

test:
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: huangmin_test

production:
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: huangmin
