.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}

.scrollspy-example {
  height: 1200px;
  overflow: auto;
  position: relative;
}
